
<?xml version='1.0'?>
<model>
  <name>explorer_r2_visuals_only</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>

  <author>
    <name>Cole Biesemeyer</name>
    <email>col@openrobotics.org</email>
  </author>

  <description>
  Visual elements for Explorer's R2 robot.
  </description>
</model>

